* {
  margin: 0;
  padding: 0;
  background-color: azure;
}

.image-gallery {
  display: block;
  width: 30%;
  min-width: 500px;
  margin: 0 auto;
  padding-top: 8px;
}

.fullview img {
  width: 100%;
}

.preview {
  display: flex;
  justify-content: space-between;
}

ul li {
  list-style: none;
  padding: 2px;
}

li img {
  max-width: 100%;
  padding: 4px;
}

.active {
  background: rgb(224, 123, 178);
}